<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" ngModel requiered email #email="ngModel"/>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" ngModel required minlength="6" #password="ngModel"/>
    </div>

    <button class="button">Login</button>
  </div>

  @if(email.touched && email.dirty && email.invalid){
    <p class="control-error">correo invalido, ingrese un correo existente</p> 
  }
  @if(password.touched && password.dirty && password.invalid){
    <p class="control-error">contraseña invalida, debe tener al menos 6 caracteres</p> 
  }
</form>
